
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.973 0.0133 286.1503);
  --foreground: oklch(0.2888 0.075 280.6245);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2888 0.075 280.6245);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2888 0.075 280.6245);
  --primary: oklch(0.5194 0.2241 284.5038);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9174 0.0435 292.6901);
  --secondary-foreground: oklch(0.3962 0.1342 285.5887);
  --muted: oklch(0.9529 0.0174 286.0654);
  --muted-foreground: oklch(0.5323 0.0593 284.2064);
  --accent: oklch(0.9221 0.0373 262.141);
  --accent-foreground: oklch(0.2888 0.075 280.6245);
  --destructive: oklch(0.6861 0.2061 14.9941);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9066 0.0271 285.8463);
  --input: oklch(0.9066 0.0271 285.8463);
  --ring: oklch(0.5194 0.2241 284.5038);
  --chart-1: oklch(0.5194 0.2241 284.5038);
  --chart-2: oklch(0.699 0.1685 288.6576);
  --chart-3: oklch(0.5464 0.2522 273.7324);
  --chart-4: oklch(0.6275 0.2057 281.1907);
  --chart-5: oklch(0.4311 0.2186 274.7942);
  --sidebar: oklch(0.9529 0.0174 286.0654);
  --sidebar-foreground: oklch(0.2888 0.075 280.6245);
  --sidebar-primary: oklch(0.5194 0.2241 284.5038);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9221 0.0373 262.141);
  --sidebar-accent-foreground: oklch(0.2888 0.075 280.6245);
  --sidebar-border: oklch(0.9066 0.0271 285.8463);
  --sidebar-ring: oklch(0.5194 0.2241 284.5038);
  --font-sans: var(--font-poppins), ui-sans-serif, sans-serif, system-ui;
  --font-serif: var(--font-poppins), ui-sans-serif, sans-serif, system-ui;
  --font-mono: var(--font-geist-mono), monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: #272759;
  --shadow-2xs: 0px 4px 10px 0px hsl(240 39.0625% 25.098% / 0.06);
  --shadow-xs: 0px 4px 10px 0px hsl(240 39.0625% 25.098% / 0.06);
  --shadow-sm: 0px 4px 10px 0px hsl(240 39.0625% 25.098% / 0.12),
    0px 1px 2px -1px hsl(240 39.0625% 25.098% / 0.12);
  --shadow: 0px 4px 10px 0px hsl(240 39.0625% 25.098% / 0.12),
    0px 1px 2px -1px hsl(240 39.0625% 25.098% / 0.12);
  --shadow-md: 0px 4px 10px 0px hsl(240 39.0625% 25.098% / 0.12),
    0px 2px 4px -1px hsl(240 39.0625% 25.098% / 0.12);
  --shadow-lg: 0px 4px 10px 0px hsl(240 39.0625% 25.098% / 0.12),
    0px 4px 6px -1px hsl(240 39.0625% 25.098% / 0.12);
  --shadow-xl: 0px 4px 10px 0px hsl(240 39.0625% 25.098% / 0.12),
    0px 8px 10px -1px hsl(240 39.0625% 25.098% / 0.12);
  --shadow-2xl: 0px 4px 10px 0px hsl(240 39.0625% 25.098% / 0.3);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1874 0.0343 282.5848);
  --foreground: oklch(0.9113 0.0339 285.7077);
  --card: oklch(0.22 0.05 281.4785);
  --card-foreground: oklch(0.9113 0.0339 285.7077);
  --popover: oklch(0.22 0.05 281.4785);
  --popover-foreground: oklch(0.9113 0.0339 285.7077);
  --primary: oklch(0.7162 0.1597 290.3962);
  --primary-foreground: oklch(0.1874 0.0343 282.5848);
  --secondary: oklch(0.3001 0.094 280.7703);
  --secondary-foreground: oklch(0.8367 0.0849 285.9111);
  --muted: oklch(0.259 0.0799 279.2573);
  --muted-foreground: oklch(0.7043 0.061 284.725);
  --accent: oklch(0.3201 0.1061 278.5709);
  --accent-foreground: oklch(0.9113 0.0339 285.7077);
  --destructive: oklch(0.6861 0.2061 14.9941);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3135 0.0772 280.9866);
  --input: oklch(0.3135 0.0772 280.9866);
  --ring: oklch(0.7162 0.1597 290.3962);
  --chart-1: oklch(0.7162 0.1597 290.3962);
  --chart-2: oklch(0.6201 0.1355 273.6549);
  --chart-3: oklch(0.7512 0.1369 245.3085);
  --chart-4: oklch(0.7513 0.1166 185.8035);
  --chart-5: oklch(0.7546 0.1831 346.8124);
  --sidebar: oklch(0.22 0.05 281.4785);
  --sidebar-foreground: oklch(0.9113 0.0339 285.7077);
  --sidebar-primary: oklch(0.7162 0.1597 290.3962);
  --sidebar-primary-foreground: oklch(0.1874 0.0343 282.5848);
  --sidebar-accent: oklch(0.3201 0.1061 278.5709);
  --sidebar-accent-foreground: oklch(0.9113 0.0339 285.7077);
  --sidebar-border: oklch(0.3135 0.0772 280.9866);
  --sidebar-ring: oklch(0.7162 0.1597 290.3962);
  --font-sans: var(--font-poppins), ui-sans-serif, sans-serif, system-ui;
  --font-serif: var(--font-poppins), ui-sans-serif, sans-serif, system-ui;
  --font-mono: var(--font-geist-mono), monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: #272759;
  --shadow-2xs: 0px 4px 10px 0px hsl(240 39.0625% 25.098% / 0.06);
  --shadow-xs: 0px 4px 10px 0px hsl(240 39.0625% 25.098% / 0.06);
  --shadow-sm: 0px 4px 10px 0px hsl(240 39.0625% 25.098% / 0.12),
    0px 1px 2px -1px hsl(240 39.0625% 25.098% / 0.12);
  --shadow: 0px 4px 10px 0px hsl(240 39.0625% 25.098% / 0.12),
    0px 1px 2px -1px hsl(240 39.0625% 25.098% / 0.12);
  --shadow-md: 0px 4px 10px 0px hsl(240 39.0625% 25.098% / 0.12),
    0px 2px 4px -1px hsl(240 39.0625% 25.098% / 0.12);
  --shadow-lg: 0px 4px 10px 0px hsl(240 39.0625% 25.098% / 0.12),
    0px 4px 6px -1px hsl(240 39.0625% 25.098% / 0.12);
  --shadow-xl: 0px 4px 10px 0px hsl(240 39.0625% 25.098% / 0.12),
    0px 8px 10px -1px hsl(240 39.0625% 25.098% / 0.12);
  --shadow-2xl: 0px 4px 10px 0px hsl(240 39.0625% 25.098% / 0.3);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

html,
body,
:root {
  height: 100%;
}
video {
  @apply rounded-md shadow-md;
}
.bb_paragraph {
  @apply mb-4;
}
.bb_ul {
  @apply list-disc pl-6 mb-4;
}
.bb_img {
  @apply rounded-md;
}
.bb_tag {
  @apply text-primary mt-2 mb-2 font-semibold;
}
